<div id="page-heading">
    <ol class="breadcrumb">
        <li><a ng-click="goDashborad()">Intranet</a></li>
        <li>Archivo</li>
        <li class="active">Registro</li>
    </ol>
</div>
<hr>
<div id="contenedor">
<div class="container" ng-controller="controller_archivo">
  <div class="row">
    <div class="input-group input-group-lg">
      <input id="buscarentabla" ng-model="PAlmacenados.buscar_condi" type="text" class="form-control" placeholder="Escribe lo que Buscas .... ">
      <span class="input-group-btn">
        <button class="btn btn-default btn-sm" type="button" ng-click="PAlmacenados.buscarbd()"><span class="fa fa-search"></span>Buscar</button>
        <button class="btn btn-success btn-sm" type="button" ng-click=""><span class="fa fa-print"></span> Imprimir</button>
      </span>
    </div>
  </div>
<div>
    <div id="formulario" class="row formulario-Contro">
        <div class="form-horizontal">
            <div class="row form-group">
                <div class="col-md-3">
                    <p><strong>Fecha : &nbsp;&nbsp;</strong></p>
                    <div class="row">
                        <input type="text" ng-model="PAlmacenados.anio" class="form-control input-sm" placeholder="Año" style="width: 24%; float: left;">
                        <select class="form-control input-sm" ng-model="PAlmacenados.mes" style="width: 48%; float: left;">
                            <option value="Enero">Enero</option>
                            <option value="Febrero">Febrero</option>
                            <option value="Marzo">Marzo</option>
                            <option value="Abril">Abril</option>
                            <option value="Mayo">Mayo</option>
                            <option value="Junio">Junio</option>
                            <option value="Julio">Julio</option>
                            <option value="Agosto">Agosto</option>
                            <option value="Septiembre">Septiembre</option>
                            <option value="Octubre">Octubre</option>
                            <option value="Noviembre">Noviembre</option>
                            <option value="Diciembre">Diciembre</option>
                        </select>
                        <input type="number" class="form-control input-sm" min="1" max="31" value="1" ng-model="PAlmacenados.dia" style="float: left; width: 22%;"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <p><strong>Otorgantes : &nbsp;&nbsp;</strong></p>
                    <div class="row">
                        <input type="text" ng-model="PAlmacenados.otorgantes" class="form-control input-sm" style="width: 94%; float: left;">
                    </div>
                </div>
                <div class="col-md-3">
                    <p><strong>Otorgados : &nbsp;&nbsp;</strong></p>
                    <div class="row">
                        <input type="text" ng-model="PAlmacenados.otorgados" class="form-control input-sm" style="width: 94%; float: left;">
                    </div>
                </div>
                <div class="col-md-3">
                    <p><strong>Contrato : &nbsp;&nbsp;</strong></p>
                    <div class="row">
                        <input type="text" ng-model="PAlmacenados.cla_contrato" class="form-control input-sm" style="width: 62%; float: left;">
                        <input type="text" ng-model="PAlmacenados.nro" class="form-control input-sm" placeholder="Nro" style="width: 37%; float: left;">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-xs-2 control-label"><b>PROVINCIA : </b></label>
                <div class="col-xs-3">
                    <select class="form-control" ng-model="PAlmacenados.provincia">
                        <option value=""></option>
                        <option value="Acomayo">Acomayo</option>
                        <option value="Anta">Anta</option>
                        <option value="Calca">Calca</option>
                        <option value="Canas">Canas</option>
                        <option value="Canchis">Canchis</option>
                        <option value="Cusco">Cusco</option>
                        <option value="Chumbivilcas">Chumbivilcas</option>
                        <option value="Espinar">Espinar</option>
                        <option value="La Convención">La Convención</option>
                        <option value="Paruro">Paruro</option>
                        <option value="Paucartambo">Paucartambo</option>
                        <option value="Quispicanchi">Quispicanchi</option>
                        <option value="Urubamba">Urubamba</option>
                    </select>
                </div>
                <label class="col-xs-2 control-label"><b>NOTARIO : </b></label>
                <div class="col-xs-4">
                    <input type="text" class="form-control" ng-model="PAlmacenados.notario" />
                </div>
            </div>
            <div class="row form-group">
                <strong id="mensaje" class="mensa"></strong>
                <button id="btncancelar" type="button" class="btn btn-danger btn-sm btn-proc" ng-click="PAlmacenados.btnAgregar()">
                    <span class="fa fa-times"></span> Cancelar
                </button>
                <button type="button" class="btn btn-primary btn-sm btn-proc" ng-click="PAlmacenados.agregar()">
                    <span class="fa fa-plus"></span> {{texto}}
                </button>
            </div>
        </div>
    </div>
</div>
<br>
<div id="contenido_categoria">
    <div class="row fila-d" ng-repeat="item in PAlmacenados.listatipos" ng-click="PAlmacenados.modificar(item)">
        <span class="col-md-3">
              <ol class="breadcrumb">
                <p><strong>Fecha : &nbsp;&nbsp;</strong></p>
                <li><a href="">{{item.anio}}</a></li>
                <li><a href="">{{item.mes}}</a></li>
                <li><a href="">{{item.dia}}</a></li>
              </ol>
        </span>
        <span class="col-md-3">
               <ol class="breadcrumb">
                <p><strong>Otorgantes : &nbsp;&nbsp;</strong></p>
                <li><a href="">{{item.otorgantes}}</a></li>
              </ol>
        </span>
        <span class="col-md-3">
              <ol class="breadcrumb">
                <p><strong>Otorgados : &nbsp;&nbsp;</strong></p>
                <li><a href="">{{item.otorgados}}</a></li>
              </ol>
        </span>
        <span class="col-md-3">
            <span class="badge pull-right posiclo" ng-click="PAlmacenados.eliminar(item)" title="Eliminar">X</span>
            <ol class="breadcrumb">
                <p><strong>Contrato : &nbsp;&nbsp;</strong></p>
                <li><a href="">{{item.cla_contrato}}</a></li>
                <li><a href="">N° </a></li>
                <li><a href="">{{item.Nro}}</a></li>
              </ol>
            <button type="button" class="btn btn-default btn-sm btnmo">
              <span class="fa fa-edit"></span> ...
            </button>
        </span>
    </div>
    <div style="text-align:center;">
        <div style="display: inline-flex">
            <button type="button"
                    class="btn btn-default btn-sm"
                    ng-click="pagina_inicio()"
                    title="Página Anterior"><i
                    class="fa fa-backward"></i>
            </button>
            <button type="button"
                    class="btn btn-default btn-sm"
                    ng-click="pagina_atras()"
                    title="Página Anterior"><i
                    class="fa fa-step-backward"></i>
            </button>
            <input type="text" class="form-control input-sm"
                    ng-model="PAlmacenados.pagina"
                    ng-enter="PAlmacenados.buscarbd()"
                    style="width: 50px;text-align: center;font-weight: bolder;"
                    value="{{ PAlmacenados.pagina }}">
            </input>
            <button type="button"
                    class="btn btn-default btn-sm"
                    ng-click="pagina_siguiente()"
                    title="Siguiente Página"><i
                    class="fa fa-step-forward"></i>
            </button>
        </div>
    </div>
</div>
</div>
<style type="text/css">
    .fila-d{ background: #fff; margin-top: 10px;  margin-bottom: 10px;  box-shadow: 0 1px 4px rgba(41,51,57,.5);  cursor: pointer; }
    .fila-d ol{ background: #fff; }
    .fila-d:hover ol{ background:#f3f0f0;  }
    .fila-d:hover{ background:#f3f0f0;  }
    .hori-me>li{ display:inline; text-decoration: none; }
    .formulario-Contro{background: #fff;  padding: 10px;  margin-top: 15px;  margin-bottom: 10px;  box-shadow: 0 1px 4px rgba(41,51,57,.5); }
    .btn-proc{margin-top: 10px;  margin-left: 10px;  float: right; }
    .mensa{ position: relative;  top:10px;  display: none; }
    .bloque{position: absolute; background: rosybrown; width: 100%;height: 100%;}
    .btnmo{ position: absolute;top: 16px; right: 10px;}
    .posiclo{  top: -6px;  position: relative;  right: -18px;  background: #e48d8d;  }
    .posiclo:hover{ background: red; }
    .control-label{ padding-top: 18px !important;}
</style>
</div>
