<div id="page-heading">
    <ol class="breadcrumb">
        <li><a ng-click="goDashborad()">Intranet</a></li>
        <li>Tesorería</li>
        <li>Reportes</li>
        <li class="active">Exportar PDT</li>
    </ol>
</div>
<div class="container-fluid" ng-controller="exportarpdtController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <fieldset>
                        <legend>EXPORTACIÓN DE DATOS</legend>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Fecha Inicial : </label>
                                <div class="col-xs-3">
                                    <input type="date" class="form-control" ng-model="busqueda.fecha_inicial" />
                                </div>
                                <label class="col-xs-2 control-label">Fecha Final : </label>
                                <div class="col-xs-3">
                                    <input type="date" class="form-control" ng-model="busqueda.fecha_final" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Archivo : </label>
                                <div class="col-xs-3">
                                    <input type="text" class="form-control" ng-model="busqueda.archivo" disabled/>
                                </div>
                                <label class="col-xs-2 control-label">Tipo : </label>
                                <div class="col-xs-2">
                                    <select class="form-control" ng-model="busqueda.tipo">
                                        <option value="PS4">PS4</option>
                                        <option value="4TA">4TA</option>
                                    </select>
                                </div>
                                <button class="btn-info btn" ng-click="buscar();"><i class="fa fa-search"></i>&nbsp;&nbsp;Buscar</button>
                                <button class="btn-success btn" ng-click="exportar();"><i class="fa fa-search"></i>&nbsp;&nbsp;Exportar</button>
                            </div>
                        </div>
                        <hr>
                    </fieldset>
                </div>
                <div class="box-body">
                    <fieldset>
                        <legend>REPORTE DE DATOS</legend>
                        <div class="form-horizontal">
                            <div class="form-group" style="padding-left: 3%; padding-right: 3%;">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-condensed ng-scope">
                                        <thead>
                                            <tr style="background-color: #454545; font-size: 10px; font-weight: bolder; font-family:Arial; color: white;">
                                                <th ng-show="busqueda.tipo == 'PS4'" style="text-align: center; font-weight: bolder;width:5%;background-color: #454545; font-size: 10px; font-weight: bolder; font-family:Arial; color: white;">ESTRUCTURA 7</th>
                                                <th ng-show="busqueda.tipo == '4TA'" style="text-align: center; font-weight: bolder;width:5%;background-color: #454545; font-size: 10px; font-weight: bolder; font-family:Arial; color: white;">ESTRUCTURA 20</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="trm_ in busqueda.lista_datos">
                                                <td style="text-align: center;">{{ trm_.dato }}</td>
                                            </tr>
                                            <tr ng-show="busqueda.lista_datos.length == 0"><td colspan="10" style="text-align: center;">No hay Datos para mostrar</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>