<div id="page-heading">
    <ol class="breadcrumb">
        <li><a ng-click="goDashborad()">Intranet</a></li>
        <li>Tesorería</li>
        <li>Reportes</li>
        <li class="active">Reporte de Retenciones</li>
    </ol>
</div>
<div class="container-fluid" ng-controller="reporteretencionesController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <fieldset>
                        <legend>OPCIONES DE BÚSQUEDA</legend>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Desde : </label>
                                <div class="col-xs-3">
                                    <input type="date" class="form-control" ng-model="reporte.desde" />
                                </div>
                                <label class="col-xs-2 control-label">Hasta : </label>
                                <div class="col-xs-3">
                                    <input type="date" class="form-control" ng-model="reporte.hasta" />
                                </div>
                                <button class="btn-info btn" ng-click="buscar_pdt();"><i class="fa fa-search"></i>&nbsp;&nbsp;PDT</button>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Persona : </label>
                                <div class="col-xs-3">
                                    <select class="form-control" ng-model="reporte.tipo_persona">
                                        <option value="NATURAL">NATURAL</option>
                                        <option value="JURÍDICA">JURÍDICA</option>
                                    </select>
                                </div>
                                <label class="col-xs-1 control-label">Siaf : </label>
                                <div class="col-xs-1">
                                    <input type="checkbox" class="form-control" ng-model="reporte.x_siaf" />
                                </div>
                                <label class="col-xs-2 control-label">Comprobante de Pago : </label>
                                <div class="col-xs-1">
                                    <input type="checkbox" class="form-control" ng-model="reporte.x_comprobante_pago" />
                                </div>
                                <label class="col-xs-1 control-label">Importe : </label>
                                <div class="col-xs-1">
                                    <input type="checkbox" class="form-control" ng-model="reporte.x_importe" />
                                </div>
                            </div>
                        </div>
                        <hr>
                    </fieldset>
                </div>
                <div class="box-body">
                    <fieldset>
                        <legend>ESTADÍSTICAS</legend>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Total Registros : </label>
                                <div class="col-xs-3">
                                    <input type="number" class="form-control" ng-model="reporte.total_registro" />
                                </div>
                                <label class="col-xs-2 control-label">Importe Total : </label>
                                <div class="col-xs-2">
                                    <input type="number" class="form-control" ng-model="reporte.total_importe" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Importe Letras : </label>
                                <div class="col-xs-5">
                                    <input type="text" class="form-control" ng-model="reporte.importe_letras" />
                                </div>
                                <div class="col-xs-2" style="text-align: right;">
                                    <button class="btn-info btn" ng-click="imprimir();"><i class="fa fa-printer"></i>&nbsp;&nbsp;Imprimir</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </fieldset>
                </div>
                <div class="box-body">
                    <fieldset>
                        <legend>CUADRO DE REPORTES</legend>
                        <div class="form-horizontal">
                            <div class="form-group" style="padding-left: 3%; padding-right: 3%;">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-condensed ng-scope">
                                        <thead>
                                            <tr style="background-color: #454545; font-size: 10px; font-weight: bolder; font-family:Arial; color: white;">
                                                <th style="text-align: center; font-weight: bolder;width:5%;background-color: #454545; font-size: 10px; font-weight: bolder; font-family:Arial; color: white;">REGISTRO</th>
                                                <th style="text-align: center; font-weight: bolder;width:10%;background-color: #454545; font-size: 10px; font-weight: bolder; font-family:Arial; color: white;">NRO. COMPROBANTE</th>
                                                <th style="text-align: center; font-weight: bolder;width:15%;background-color: #454545; font-size: 10px; font-weight: bolder; font-family:Arial; color: white;">FECHA EMISIÓN</th>
                                                <th style="text-align: center; font-weight: bolder;width:15%;background-color: #454545; font-size: 10px; font-weight: bolder; font-family:Arial; color: white;">RUC / DNI</th>
                                                <th style="text-align: center; font-weight: bolder;width:15%;background-color: #454545; font-size: 10px; font-weight: bolder; font-family:Arial; color: white;">PROVEEDOR</th>
                                                <th style="text-align: center; font-weight: bolder;width:10%;background-color: #454545; font-size: 10px; font-weight: bolder; font-family:Arial; color: white;">NRO. SIAF</th>
                                                <th style="text-align: center; font-weight: bolder;width:10%;background-color: #454545; font-size: 10px; font-weight: bolder; font-family:Arial; color: white;">COMPROBANTE DE PAGO</th>
                                                <th style="text-align: center; font-weight: bolder;width:10%;background-color: #454545; font-size: 10px; font-weight: bolder; font-family:Arial; color: white;">RETENCIÓN</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="trm_ in busqueda.lista_documentos">
                                                <td style="text-align: center;">{{ trm_.nro_registro }}</td>
                                                <td style="text-align: center;">{{ trm_.fecha.substring(0, 10) }}</td>
                                                <td style="text-align: left;">{{ trm_.destino_nombre }}</td>
                                                <td style="text-align: center;">{{ trm_.destino_oficina }}</td>
                                                <td style="text-align: left;">{{ trm_.entregado_nombre }}</td>
                                                <td style="text-align: center;">{{ trm_.nro_expedientes }} &nbsp;Proc.
                                                    <button class="btn btn-sm btn-success" ng-click="ver_detalle_expediente(trm_.id_registro_archivo);"><i class="fa fa-search"></i></button>
                                                </td>
                                                <td style="text-align: center;">{{ trm_.nro_folios }}</td>
                                                <td style="text-align: center;">{{ trm_.nro_tomos }}</td>
                                                <td style="text-align: center;">{{ trm_.estado_registro }}</td>
                                                <td style="text-align: center;">{{ trm_.fecha_devolucion }}</td>
                                            </tr>
                                            <tr ng-show="busqueda.lista_documentos.length == 0"><td colspan="8" style="text-align: center;">No hay Datos para mostrar</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>