<div id="page-heading">
    <ol class="breadcrumb">
        <li><a ng-click="goDashborad()">Intranet</a></li>
        <li>Tesorería</li>
        <li>Maestros</li>
        <li class="active">Tipos</li>
    </ol>
</div>
<h1>Reporte Certificaciones</h1>