<div id="page-heading">
    <ol class="breadcrumb">
        <li><a ng-click="goDashborad()">Intranet</a></li>
        <li>Tesorería</li>
        <li>Reportes</li>
        <li class="active">Reporte RR HH</li>
    </ol>
</div>
<div class="container-fluid" ng-controller="reporterrhhController">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <fieldset>
                        <legend>EXPORTACIÓN DE DATOS</legend>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Tipo de Recibo: </label>
                                <div class="col-xs-3">
                                    <select class="form-control" ng-model="busqueda.tipo">
                                        <option value="Todos">Todos</option>
                                        <option value="Recibo por Honorarios">Recibo por Honorarios</option>
                                        <option value="Dieta">Dieta</option>
                                        <option value="Nota de Crédito">Nota de Crédito</option>
                                        <option value="Otros Comprobantes">Otros Comprobantes</option>
                                    </select>
                                </div>
                                <div class="col-xs-3" style="text-align: right;">
                                    <button class="btn-info btn" ng-click="realizar_busqueda();"><i class="fa fa-search"></i>&nbsp;&nbsp;Generar Reporte</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Fecha Inicial : </label>
                                <div class="col-xs-3">
                                    <input type="date" class="form-control" ng-model="busqueda.fecha_inicial" />
                                </div>
                                <label class="col-xs-2 control-label">Fecha Final : </label>
                                <div class="col-xs-3">
                                    <input type="date" class="form-control" ng-model="busqueda.fecha_final" />
                                </div>
                            </div>
                        </div>
                        <hr>
                    </fieldset>
                </div>
                <div class="box-body">
                    <fieldset>
                        <legend>REPORTE DE RECIBOS</legend>
                        <div class="form-horizontal">
                            <div class="form-group" style="padding-left: 3%; padding-right: 3%;">
                                <embed width="100%" height="100%" name="plugin" id="plugin_pdf" type="application/pdf">    
                            </div>
                        </div>
                        <hr>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>