<style>
    body {
        color: #333 !important;
    }
    input, select, textarea {
        border-color: #c1c1c1 !important;
    }
    .form-group {
        margin-bottom: 0px !important;
        padding-bottom: 5px;
    }
    label {
        display: inline !important;
    }
    #form-cuadro .form-group:nth-child(even) {
        background-color: #fafafa !important;

    }
    .control-label {
        padding-top : 16px !important;
    }
    .box {
        border: 1px solid #BBB !important;
    }
</style>
<div ng-controller="controller_archivo_busqueda">
    <div class="admin-page-title" style="padding-bottom:10px;">
        <div class="container-fluid">
            <a ng-click="goDashborad()" class="admin-page-title-back">
                <i class="fa fa-long-arrow-left"></i>
            </a>
            <h1>BÚSQUEDA DE REGISTROS
                <small class="ng-binding"></small>
            </h1>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body">
                        <fieldset>
                            <div class="form-horizontal">
                                <div class="row form-group">
                                    <label class="col-xs-3 control-label"><b>FECHA INICIAL : </b></label>
                                    <div class="col-xs-2">
                                        <input type="date" class="form-control" ng-model="busqueda.fecha_inicial" min="1800" max="2020" />
                                    </div>
                                    <label class="col-xs-3 control-label"><b>FECHA FINAL : </b></label>
                                    <div class="col-xs-2">
                                        <input type="date" class="form-control" ng-model="busqueda.fecha_final" min="1800" max="2020"/>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-xs-3 control-label"><b>OTORGANTES / OTORGADOS : </b></label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" ng-model="busqueda.nombres" />
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-xs-3 control-label"><b>PROVINCIA : </b></label>
                                    <div class="col-xs-2">
                                        <select class="form-control" ng-model="busqueda.provincia">
                                            <option value="">Todos</option>
                                            <option value="Acomayo">Acomayo</option>
                                            <option value="Anta">Anta</option>
                                            <option value="Calca">Calca</option>
                                            <option value="Canas">Canas</option>
                                            <option value="Canchis">Canchis</option>
                                            <option value="Cusco">Cusco</option>
                                            <option value="Chumbivilcas">Chumbivilcas</option>
                                            <option value="Espinar">Espinar</option>
                                            <option value="La Convención">La Convención</option>
                                            <option value="Paruro">Paruro</option>
                                            <option value="Paucartambo">Paucartambo</option>
                                            <option value="Quispicanchi">Quispicanchi</option>
                                            <option value="Urubamba">Urubamba</option>
                                        </select>
                                    </div>
                                    <!--
                                    <label class="col-xs-3 control-label"><b>CLASE DE CONTRATO : </b></label>
                                    <div class="col-xs-2">
                                        <input type="text" class="form-control" ng-model="busqueda.clase_contrato" />
                                    </div>
                                    -->
                                    <div class="col-xs-4" style="text-align:right;">
                                        <button class="btn btn-success" href="#" ng-click="realizar_busqueda();" title="Realizar Buúsqueda" data-toggle="tooltip"><span class="fa fa-search"></span> Buscar</button>
                                        <button class="btn btn-primary" href="#" ng-click="imprimir();" title="Imprimir Búsqueda" data-toggle="tooltip"><span class="fa fa-print"></span> Impresión</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="box">
                    <div class="box-body">
                        <fieldset>
                            <div class="form-horizontal">
                                <div class="row fila-d" ng-show="busqueda.lista.length == 0">
                                    <span class="col-md-12">
                                        <ol class="breadcrumb" style="text-align:center;font-weight:bolder;">
                                            No hay datos para mostrar
                                        </ol>
                                    </span>
                                </div>
                                <div class="row fila-d" ng-repeat="item in busqueda.lista">
                                    <span class="col-md-3">
                                        <ol class="breadcrumb">
                                            <p><strong>Fecha : &nbsp;&nbsp;</strong></p>
                                            <li><a href="">{{item.anio}}</a></li>
                                            <li><a href="">{{item.mes}}</a></li>
                                            <li><a href="">{{item.dia}}</a></li>
                                        </ol>
                                    </span>
                                    <span class="col-md-3">
                                        <ol class="breadcrumb">
                                            <p><strong>Otorgantes : &nbsp;&nbsp;</strong></p>
                                            <li><a href="">{{item.otorgantes}}</a></li>
                                        </ol>
                                    </span>
                                    <span class="col-md-3">
                                        <ol class="breadcrumb">
                                            <p><strong>Otorgados : &nbsp;&nbsp;</strong></p>
                                            <li><a href="">{{item.otorgados}}</a></li>
                                        </ol>
                                    </span>
                                    <span class="col-md-3">
                                        <ol class="breadcrumb">
                                            <p><strong>Contrato : &nbsp;&nbsp;</strong></p>
                                            <li><a href="">{{item.cla_contrato}}</a></li>
                                            <li><a href="">N° </a></li>
                                            <li><a href="">{{item.Nro}}</a></li>
                                        </ol>
                                    </span>
                                </div>
                                <div style="text-align:center;">
                                    <div style="display: inline-flex">
                                        <button type="button" style="display:none;" class="btn btn-default btn-sm" ng-click="pagina_inicio()" title="Página Anterior"><i class="fa fa-backward"></i></button>
                                        <button type="button" class="btn btn-default btn-sm"ng-click="pagina_atras()" title="Página Anterior"><i class="fa fa-step-backward"></i></button>
                                        <input type="text" class="form-control input-sm" ng-model="busqueda.pagina" ng-enter="realizar_busqueda()" style="width: 50px;text-align: center;font-weight: bolder;" value="{{ busqueda.pagina }}"></input>
                                        <button type="button" class="btn btn-default btn-sm" ng-click="pagina_siguiente()" title="Siguiente Página"><i class="fa fa-step-forward"></i></button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .fila-d{ background: #fff; margin-top: 10px;  margin-bottom: 10px;  box-shadow: 0 1px 4px rgba(41,51,57,.5);  cursor: pointer; }
    .fila-d ol{ background: #fff; }
    .fila-d:hover ol{ background:#f3f0f0;  }
    .fila-d:hover{ background:#f3f0f0;  }
    .hori-me>li{ display:inline; text-decoration: none; }
    .formulario-Contro{background: #fff;  padding: 10px;  margin-top: 15px;  margin-bottom: 10px;  box-shadow: 0 1px 4px rgba(41,51,57,.5); }
    .btn-proc{margin-top: 10px;  margin-left: 10px;  float: right; }
    .mensa{ position: relative;  top:10px;  display: none; }
    .bloque{position: absolute; background: rosybrown; width: 100%;height: 100%;}
    .btnmo{ position: absolute;top: 16px; right: 10px;}
    .posiclo{  top: -6px;  position: relative;  right: -18px;  background: #e48d8d;  }
    .posiclo:hover{ background: red; }
</style>






<!--
    <div id="contenedor" ng-controller="controller_archivo_busqueda">
        <div class="row">

        </div> 
        <div class="row">
            <div class="input-group input-group-lg">
                <input id="buscarentabla" ng-model="PAlmacenados.buscar_condi" type="text" class="form-control" placeholder="Escribe lo que Buscas .... ">
                <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="PAlmacenados.buscarbd()"><span class="fa fa-search"></span>Buscar</button>
                <button class="btn btn-success btn-sm" type="button" ng-click=""><span class="fa fa-print"></span> Imprimir</button>
                </span>
            </div>
        </div>
    </div>
    <style type="text/css">
        .fila-d{ background: #fff; margin-top: 10px;  margin-bottom: 10px;  box-shadow: 0 1px 4px rgba(41,51,57,.5);  cursor: pointer; }
        .fila-d ol{ background: #fff; }
        .fila-d:hover ol{ background:#f3f0f0;  }
        .fila-d:hover{ background:#f3f0f0;  }
        .hori-me>li{ display:inline; text-decoration: none; }
        .formulario-Contro{background: #fff;  padding: 10px;  margin-top: 15px;  margin-bottom: 10px;  box-shadow: 0 1px 4px rgba(41,51,57,.5); }
        .btn-proc{margin-top: 10px;  margin-left: 10px;  float: right; }
        .mensa{ position: relative;  top:10px;  display: none; }
        .bloque{position: absolute; background: rosybrown; width: 100%;height: 100%;}
        .btnmo{ position: absolute;top: 16px; right: 10px;}
        .posiclo{  top: -6px;  position: relative;  right: -18px;  background: #e48d8d;  }
        .posiclo:hover{ background: red; }
    </style>
    </div>
-->